
Data/Logs/Backup Journal[001].txt
.DS_Store
userPreferences.Add Komoncharoensiri/preferences.4DPreferences
userPreferences.Add Komoncharoensiri/recentTables.json
userPreferences.Add Komoncharoensiri/workspace.json
